@using Dominio


@{
    ViewData["Title"] = "Cliente";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewBag.MsgNombreLog</h1>
    <br />
    <h2>Rol:@ViewBag.MsgRolLog</h2>

</div>





@* <h1>Lista de publicaciones</h1>


<table class="table table-dark table-striped">

    <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Acción</th>



    </tr>

    @foreach (Publicacion p in ViewBag.Publicacion)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Estado</td>
            <td>@p.CalcularPrecioFinal()</td>
            <td>
                @if (p is Venta)
                {
                    @Html.ActionLink("Comprar", "Buy", new { id = p.id })
                }
                else if (p is Subasta)
                {
                    @Html.ActionLink("Ofertar", "Offer", new { id = p.id })
                }
        </tr>

    }
</table> *@
