@using Dominio
@model IEnumerable<Publicacion>
<h1>Lista de publicaciones</h1>


<table class="table table-striped table-bordered">
	<thead class="table-light">
		<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th>Precio</th>
			<th>Usuario finalizador</th>
			<th>Comprador final</th>
			<th>Fecha de cierre</th>
			<th>Fecha de publicación</th>
			<th>Acción</th>
		</tr>
	</thead>

	<tbody>
		@foreach (Publicacion p in Model)
		{
			<tr>
				<td>@p.Nombre</td>
				<td>@p.Estado</td>
				<td>@p.CalcularPrecioFinal()</td>
				<td>
					@if (p.UsuarioFinalizador != null)
					{
						@($"{p.UsuarioFinalizador.Nombre} {p.UsuarioFinalizador.Apellido}")
					}
					else
					{
						<span class="text-muted">Sin asignar</span>
					}
				</td>
				<td>
					@if (p.ClienteFinal != null)
					{
						@($"{p.ClienteFinal.Nombre} {p.ClienteFinal.Apellido}")
					}
					else
					{
						<span class="text-muted">Sin asignar</span>
					}
				</td>
			
				<td>
					@if (p.FechaFin == DateTime.MinValue)
					{
						<span class="text-muted">Sin asignar</span>
					}
					else
					{
						@p.FechaFin.ToShortDateString()
					}
				</td>
				<td>@p.FechaPublicacion.ToShortDateString()</td>
				<td>
					@if (p is Venta)
					{
						if (p.Estado == Estado.ABIERTA)
						{
							@Html.ActionLink("Comprar", "Create", "Venta", new { id = p.id }, null)


						}
						else
						{
							<span class="text-muted">Comprar</span>
						}
					}
					else if (p is Subasta)
					{
						if (p.Estado == Estado.ABIERTA)
						{
							@Html.ActionLink("Ofertar", "Create", "Subasta", new { id = p.id })


						}
						else
						{
							<span class="text-muted">Ofertar</span>
						}
					}
				</td>

			</tr>
		}
	</tbody>
</table>


