@using Dominio
@model List<Publicacion>
<h1>Lista de publicaciones</h1>


<table class="table table-dark table-striped">

    <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>

    @foreach (Publicacion p in Model)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Estado</td>
            <td>@p.CalcularPrecioFinal()</td>
            <td>
                @if (p is Venta)
                {
                    if (p.Estado == Estado.ABIERTA)
                    {
                        @Html.ActionLink("Comprar", "Create", "Venta", new { id = p.id }, null)
                    }
                    else
                    {
                        <span class="text-muted">Comprar</span>
                    }
                }
                else if (p is Subasta)
                {
                    if (p.Estado == Estado.ABIERTA)
                    {
                        @Html.ActionLink("Ofertar", "Offer", new { id = p.id }) 
                        

                    }
                    else
                    {
                        <span class="text-muted">Ofertar</span>
                    }
                }
        </tr>
    }
</table>
